html{
    font-size: 22px;
}
body{
    background-color: #333;
    color: aliceblue;
}
a{
    color: lightcoral;
}
a:visited{
    color: lightgray;
}
a:hover, a:active{
    color: aquamarine;
}